# Node / JS
node_modules/
.pnpm-store/
.cache/
.vite/
dist/
coverage/
.expo/
.expo-shared/
.env
.env.local
.env.*
*.log
*.tsbuildinfo
*.DS_Store
.cursorrules

# IDE/Editors
.vscode/
.idea/
*.suo

# OS
.DS_Store

/src/generated/prisma
